{% include 'include/header.html' %}

<body>
    <h1 class = "text-center mt-4"> DCAPP</h1>
    <div class="container">
        <div class="row mt-5">
            <div class="col-6 col-md-4">
                <a id="link" href="/reciclaje">
                    <div class="card">
                        <img src="{{url_for('static', path='/img/reciclaje-home.png')}}" class="card-img" alt="...">
                        <p class="text-center"><strong>Registro Reciclaje</strong></p>
                    </div>
                </a>
                
            </div>

            <div class="col-6 col-md-4">
                <div class="card">
                    <img src="{{url_for('static', path='/img/punto_home.png')}}" class="card-img" alt="...">
                    <p class="text-center"><strong>Visualización Puntos de Reciclaje</strong></p>

                </div>
            </div>

            <div class="col-6 col-md-4">
                <div class="card">
                    <img src="{{url_for('static', path='img/Admin_home.png')}}" class="card-img" alt="...">
                    <p class="text-center"><strong>Solicitar Ayuda al Administrador</strong></p>

                </div>
            </div>
        </div>
    </div>

{% include 'include/footer.html' %}