<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pokédex</title>
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="img/Pokebola.svg.png">
</head>

<body>
    <header class="header content">
        <div class="header-image">
            <img src="img/Pokemon_logo.svg.png">
        </div>
        <div class="header-overlay"></div>
        <div class="header-content">
            <h1>Pokedex</h1>
            <p>Proyecto Realizado por: Alvaro Avila Castro david_avilac</p>
            <a href="/signin" class="btn">Inicio Sesion</a>
            <a href="/login" class="btn">Registro</a>
        </div>
    </header>
</body>

</html>
