<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In | DCAPP</title>
    <link rel="stylesheet" href="{{url_for('static', path='/cssinicio/main.css')}}" type="text/css">
</head>

<body>
    <article class="login-box">
        <img class="logo" src="{{url_for('static', path='/img/opcion2.png')}}" alt="Logo de DCAPP">
        <h1>Sign In</h1>
        <form action="/signin" method="POST">
            <div class="container-form">
                <section class="uno">
                    <input type="text" placeholder="Enter Username" id = "username" name = "username" required>

                    <input type="text" placeholder="Ingresa tu edad" id = "edad" name = "edad" required>

                    <input type="text" placeholder="Ingresa tu Telefono" id = "telefono" name = "telefono" required>

                    <input type="password" placeholder="Confirma tu Contraseña" id = "password" name = "password" required>

                </section>
                <section class="dos">
                    
                    <input type="text" placeholder="Digita un email" id = "email" name = "email" required>

                    <input type="text" placeholder="Fecha de nacimiento" id = "fecha_nac" name = "fecha_nac" required>

                    <input type="text" placeholder="Digita tu Documento" id = "documento" name = "documento" required>

                    <input type="password" placeholder="Digite su contraseña" id = "conf_pass" name = "conf_pass" required>

                </section>

            </div>
            <p>Al hacer clic en Registrarte, aceptas las Condiciones, la Política de datos y la Política de cookies. Es
                posible que te enviemos notificaciones por SMS que podrás desactivar cuando quieras.</p>
            <input class ="button" type="submit"  value="Registrame" />
        </form>
        <a href="/login">Volver.</a>
    </article>

</body>

</html>