<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In | DCAPP</title>
    <link rel="stylesheet" href="{{url_for('static', path='/cssinicio/main.css')}}" type="text/css">
</head>

<body>
    <article class="login-box">
        <img class="logo" src="img/opcion2.png" alt="Logo de DCAPP">
        <h1>Sign In</h1>
        <form>
            <div class="container-form">
                <section class="uno">
                    <input type="text" placeholder="Enter Username">

                    <input type="text" placeholder="Ingresa tu apellido">

                    <input type="text" placeholder="Ingresa tu edad">

                    <input type="text" placeholder="Ingresa tu Telefono">

                </section>
                <section class="dos">
                    <input type="text" placeholder="Tipo Documento">
                    <input type="text" placeholder="Digita un email">

                    <input type="text" placeholder="Digita tu Documento">

                    <input type="password" placeholder="Digite su contraseña">

                </section>
            </div>
            <p>Al hacer clic en Registrarte, aceptas las Condiciones, la Política de datos y la Política de cookies. Es
                posible que te enviemos notificaciones por SMS que podrás desactivar cuando quieras.</p>
            <input class ="button" type="submit"  value="Registrame" />
        </form>
        <a href="login.html">Volver.</a>
    </article>

</body>

</html>