cryptography==37.0.2
dnspython==2.2.1
email-validator==1.2.0
fastapi==0.78.0
Jinja2
passlib==1.7.4
psycopg2==2.8.6
python-multipart==0.0.5
sniffio==1.2.0
SQLAlchemy==1.4.37
uvicorn==0.17.6
pyjwt
python-dotenv