@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url(../img/fondo-beta.jpg) no-repeat center top;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    height:100vh;
}

.login-box{
    height: 39em;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 60px 40px;

}

.login-box .logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box input {
   width: 100%;
   margin-bottom: 30px; 
}

.login-box input[type="text"],
.login-box input[type="password"]{
    display: block;
    padding: 9px;
    width: 18rem;
    outline: none;
    background-color: #9191911f;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 19px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.login-box input[type="date"],
.login-box input[type="number"]{
    display: block;
    padding: 9px;
    width: 18rem;
    outline: none;
    background-color: #9191911f;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 19px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.login-box form input[type="text"]:focus {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    animation: wobble 0.3s ease-in;
    -webkit-animation: wobble 0.3s ease-in;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: green;
    color: #fff;
    font-size: 18px;
    border-radius: 20px
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgreen;
}
.login-box a:hover {
    color: #fff;
}

.uno {
    display: flex;
    align-items: center;
    flex-flow: wrap column;
    justify-content: center;
    width: 60%;
}
.dos {
    display: flex;
    align-items: center;
    flex-flow: wrap column;
    justify-content: center;
    width: 60%;
}

.container-form{
    display: flex;
}

form p {
    font-family: "Quicksand";
}

.opacity {
    opacity: 0.6;
}
.login-box input[type="submit"]:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
}
